.categories-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../../../public/categories-wallpaper.png');
    top: 0;
    overflow-y: scroll;
}

.categories-searching-msg{
    text-align: center;
    padding-top: 5rem;
}

.categories-nav-bar{
    text-align: left;
    margin-left: 6rem;
}

.categories-header-card{
    margin-left: 40rem;
    text-align: center;
}

.no-doctors-message{
    font-size: 50px;
    margin-top: 10rem;
    text-align: center;
}